.venv
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.egg
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma
*.tar.zst
*.tar.lzo                                                       
*.tar.lzop
dataset
highway
pedestrian
output
*.csv
*.mp4
